extends layout

block content
    .line
        .left
            span
                b= title
        .right
            a#logout(href='/login') Log out
    .line
        .left
            span Title
        .right
            input(type='text', name='title')
    .line
        .left
            span Time
        .right
