doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='application/javascript', src='/javascripts/jquery/dist/jquery.js')
    script(type='application/javascript', src='/javascripts/index.js')
  body
    block content