//
   Created by Le on 3/23/2015.
extends layout

block content
    a(href='/register') Register
    form(id='login', action='/login', method='post')
        .line
            .left
                span Email:
            .right
                input(type='text', name='email', placeholder='your_email@mail.com')
        .line
            .left
                span Password:
            .right
                input(type='password', name='password')
        .line
            .left
                input(type='submit')
            .right
                input(type='reset')
                input(type='checkbox', name='remember_me', checked='checked')
                | Remember me